/* work-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/work-sans-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/work-sans-v24-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/work-sans-v24-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*== colors ==*/
  --White: hsl(0, 100%, 100%);
  --Purple100: hsl(275, 100%, 97%);
  --Purple600: hsl(292, 16%, 49%);
  --Purple950: hsl(292, 42%, 14%);
  --PurpleActive: hsl(281, 83%, 54%);

  /*== font weight ==*/
  --font-weight-light: 400;
  --font-weight-normal: 600;
  --font-weight-bold: 700;
}

html,
body {
  height: 100%;
}

html {
  font-family: Work Sans, sans-serif;
}
body {
  background: url(images/background-pattern-desktop.svg);
  background-color: var(--Purple100);
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 1.125rem;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/*=== Accordion section ===*/

.accordion {
  display: flex;
  flex-direction: column;
  width: clamp(300px, 87%, 600px);
  /* max-width: 600px; */
  background-color: var(--White);
  border-radius: 1rem;
  padding: 2.5rem;
  gap: 1.9rem;
  margin-top: 5.5rem;
}

/*=== Heading ===*/

.accordion_header {
  display: flex;
  justify-content: left;
  vertical-align: middle;
  align-items: center;
  gap: 1.5rem;
}

.accordion_icon {
  width: 2.3rem;
}

.accordion_title {
  font-size: 3.2rem;
  color: var(--Purple950);
}

/*=== Accordion content ===*/

.accordion_faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.8rem;
  border-bottom: 1px solid var(--Purple100);
  margin-bottom: 1.8rem;
}

.accordion_faq:last-of-type {
  border-bottom: none;
  margin-bottom: -1rem;
}

.accordion_faq .question {
  font-size: 1.1rem;
  font-weight: var(--font-weight-normal);
  color: var(--Purple950);
  position: relative;
}

.accordion_faq .question::after {
  content: url(images/icon-plus.svg);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 94%;
  cursor: pointer;
}

.question:hover {
  color: var(--PurpleActive);
  cursor: pointer;
}

.accordion_faq .answer {
  max-height: 0;
  font-size: 1rem;
  color: var(--Purple600);
  font-weight: var(--font-weight-light);
  line-height: 1.5rem;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

/*=== JavaSCript Styling Link ===*/

.accordion_faq.active .answer {
  max-height: 150px;
  margin-bottom: 1rem;
}
.accordion_faq.active .question {
  transition: 0.5s;
}

.accordion_faq.active .question::after {
  content: url(images/icon-minus.svg);
  transition: 0.5s;
}

/*=== Media Queries ===*/

@media (max-width: 665px) {
  body {
    background-image: url(images/background-pattern-mobile.svg);
  }

  .accordion {
    margin-top: 0;
  }
  .accordion_title {
    font-size: 2rem;
  }

  .accordion_faq .question {
    font-size: 1rem;
  }

  .accordion_faq .question::after {
    left: 98%;
  }

  .accordion_faq .answer {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}

@media (max-width: 585px) {
  .accordion_faq .question::after {
    left: 90%;
    padding-left: 2rem;
  }
}

@media (max-width: 375px) {
  body {
    background-image: url(images/background-pattern-mobile.svg);
  }
  .accordion {
    margin-top: 0;
  }

  .accordion_icon {
    width: 1.5rem;
  }

  .accordion_title {
    font-size: 2rem;
  }

  .accordion_faq .question {
    font-size: 1rem;
    width: 14rem;
  }

  .accordion_faq .question::after {
    left: 90%;
    padding-left: 2rem;
  }

  .accordion_faq .answer {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}

@media (max-width: 344px) {
  .accordion_faq .question::after {
    left: 85%;
  }
}
