*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*== colors ==*/
  --White: hsl(0, 100%, 100%);
  --Purple100: hsl(275, 100%, 97%);
  --Purple600: hsl(292, 16%, 49%);
  --Purple950: hsl(292, 42%, 14%);
  --PurpleActive: hsl(281, 83%, 54%);

  /*== font weight ==*/
  --font-weight-light: 400;
  --font-weight-normal: 600;
  --font-weight-bold: 700;
}

html,
body {
  height: 100%;
}

html {
  font-family: Work Sans, sans-serif;
}
body {
  background: url(images/background-pattern-desktop.svg);
  background-color: var(--Purple100);
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 1.125rem;
  background-position: 0px -72px;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/*=== Accordion section ===*/
.accordion-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  background-color: var(--White);
  border-radius: 1rem;
  padding: 2.5rem;
  gap: 1.9rem;
}

/*=== Heading ===*/

.heading-container {
  display: flex;
  justify-content: left;
  vertical-align: middle;
  gap: 1.5rem;
}

.heading-img {
  width: 2.5rem;
}

.heading {
  font-size: 3.5rem;
  color: var(--Purple950);
}

/*=== Accordion content ===*/

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 2rem;
  border-bottom: 1px solid var(--Purple100);
}

.content-container:last-of-type {
  border-bottom: none;
  margin-bottom: -2rem;
}

.content-container .question {
  font-size: 1.1rem;
  font-weight: var(--font-weight-normal);
  color: var(--Purple950);
  position: relative;
}

.content-container .question::after {
  content: url(images/icon-plus.svg);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -5px;
  cursor: pointer;
}

.question:hover {
  color: var(--PurpleActive);
  cursor: pointer;
}

.content-container .answer {
  max-height: 0;
  font-size: 1rem;
  color: var(--Purple600);
  font-weight: var(--font-weight-light);
  line-height: 1.5rem;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

/*=== JavaSCript Styling Link ===*/

.content-container.active .answer {
  max-height: 150px;
  margin-bottom: 1rem;
}
.content-container.active .question {
  transition: 0.5s;
}

.content-container.active .question::after {
  content: url(images/icon-minus.svg);
  transition: 0.5s;
}

/*=== Media Queries ===*/

@media (max-width: 665px) {
  body {
    background-image: url(images/background-pattern-mobile.svg);
    background-position: 0% 0%;
  }
  .accordion-container {
    width: 87%;
  }

  .heading-img {
    width: 1.5rem;
  }

  .heading {
    font-size: 2rem;
  }

  .content-container .question {
    font-size: 1rem;
    width: 14rem;
  }

  .content-container .question::after {
    right: -3rem;
  }

  .content-container .answer {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}
